---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Bienvenue sur Sweet">
	<h1>Bienvenue sur le projet JDR Sweet Journey !</h1>
	<h2>L'Ambition</h2>
	<p>L'objectif est de créer un clone entièrement web de l'application mobile <strong>AFK Journey</strong>. Ce projet sera une vitrine technologique utilisant :</p>
	<ul>
		<li>La modélisation 3D et l'animation (2D et 3D) réalisées avec <strong>Blender</strong>.</li>
		<li>La retranscription de ces éléments dans le navigateur grâce à <strong>Three.js</strong>.</li>
	</ul>
	<p>Si en plus, cette plateforme peut servir de point de repère pour nos aventures de jeu de rôle, c'est une pierre deux coups !</p>

	<h2>Le Voyage</h2>
	<p>Ce site est aussi un levier pour maîtriser les paradigmes technologiques de demain. Explorez le <strong>journal d'aventure</strong> pour suivre la quête, ou consultez les <strong>logs de construction</strong> pour voir les coulisses techniques.</p>

	<p>Quelle ambition, jeune batracien...</p>
</Layout>
